
$use-default-font: true !default;
$font-name: 'work-sans' !default;
$font-path: '/fonts' !default;

// Vendor CSS
@use './vendor/normalize';

// Root-level config
@use './settings/colors';
@use './settings/typography' with (
	$use-default-font: $use-default-font,
	$font-name: $font-name,
	$font-path: $font-path
);

// Layout components
@use './components/layout/l-row';
@use './components/layout/l-flex';
@use './components/layout/l-grid';
@use './components/layout/l-stack';

// Blocks
@use './components/blocks/c-block';
@use './components/blocks/c-divider';

// Controls
@use './components/controls/c-button';
@use './components/controls/c-form-field';

// Utility
@use './components/utility/u-align';


html {
	background: var(--color-background);
}
