
@use 'sass:map';
@use '../../mixins/responsive';

.l-flex {
	display: flex;

	&--center {
		align-items: center;
	}

	&--space-between {
		justify-content: space-between;
	}

	@for $i from 1 to 12 {
		&--gap-#{$i} {
			gap: #{$i}rem;
		}
	}

	@each $breakpoint, $_ in responsive.$breakpoints {
		&--break-when-#{$breakpoint} {
			@include responsive.when($breakpoint) {
				display: block;
			}
		}
	}

	&__item {
		&--grow {
			flex-grow: 1;
		}
	}
}
