
.l-stack {
	> * + * {
		margin-top: 1rem;
	}

	&--lg {
		> * + * {
			margin-top: 2rem;
		}
	}

	&--sm {
		> * + * {
			margin-top: 0.5rem;
		}
	}
}


.l-stack-horizontal {
	> * + * {
		margin-left: 1rem;
	}

	&--lg {
		> * + * {
			margin-left: 2rem;
		}
	}

	&--sm {
		> * + * {
			margin-left: 0.5rem;
		}
	}
}
