
@use 'sass:color';
@use '../../settings/colors';

.c-button {
	padding: 0.5rem 1rem;

	background: colors.$primary;
	color: colors.$white;
	border: none;

	cursor: pointer;

	font-weight: 600;
	text-decoration: none;

	transition: transform 0.125s;

	&:hover {
		background: color.scale( colors.$primary, $lightness: 15% );
	}

	&:active {
		transform: translateY(2px);
	}

	&--secondary {
		background: colors.$secondary;

		&:hover {
			background: color.scale( colors.$secondary, $lightness: 15% );
		}
	}

	&--success {
		background: colors.$success;

		&:hover {
			background: color.scale( colors.$success, $lightness: 15% );
		}
	}

	&--danger {
		background: colors.$danger;

		&:hover {
			background: color.scale( colors.$danger, $lightness: 15% );
		}
	}
}
