
@use '../../settings/colors';

$border-width: 0.125rem;

.c-input {
	display: block;

	padding: 0.5rem - ($border-width) 1rem - ($border-width);

	background: var(--color-background);
	border: $border-width solid var(--color-border);
	color: inherit;

	border-radius: 0;

	&::placeholder {
		opacity: 0.5;
		font-style: italic;
		color: inherit;
	}

	&:focus {
		outline: none;
		border-color: var(--color-primary);
	}
}


.c-input-range {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;

	&:focus {
		outline: none;
	}

	// Chrome, Safari, Opera and Edge Chromium styles

	// slider track
	&::-webkit-slider-runnable-track {
		background-color: var(--color-decoration);
		border-radius: 0.5rem;
		height: 0.5rem;
	}

	// slider thumb
	&::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		margin-top: -8px; /* Centers thumb on the track */
		background-color: var(--color-primary);
		border-radius: 0.25rem;
		height: 1.5rem;
		width: 1rem;
	}

	&:focus::-webkit-slider-thumb {
		outline: 2px solid var(--color-white);
		outline-offset: 0.125rem;
	}

	// Firefox styles

	// slider track
	&::-moz-range-track {
		background-color: var(--color-decoration);
		border-radius: 0.5rem;
		height: 0.5rem;
	}

	&::-moz-range-thumb {
		background-color: var(--color-primary);
		border: none; /*Removes extra border that FF applies*/
		border-radius: 0.25rem;
		height: 1.5rem;
		width: 1rem;
	}

	&:focus::-moz-range-thumb{
		outline: 2px solid var(--color-white);
		outline-offset: 0.125rem;
	}
}

.c-checkbox {
	position: relative;
	display: inline-block;
	line-height: 1.5rem;
	padding: 0.5rem;
	left: 0.25rem;

	&--radio { 
		text-align: left;
	}

	& + span {
		padding-left: 1.5rem;

		color: var(--color-decoration);
		font-weight: 600;

		cursor: pointer;
	}

	& + span::before,
	& + span::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;

		width: 1.5rem;
		height: 1.5rem;
	}

	& + span::before {
		border: $border-width solid var(--color-border);
		border-radius: $border-width;
		background: var(--color-white);
	}

	&:checked + span::after {
		width: 0.75rem;
		height: 0.75rem;
		margin: 0.75rem * 0.5;

		background: var(--color-primary);
	}

	&:focus + span::before {
		border-color: var(--color-primary);
	}

	&--radio + span::before {
		border-radius: 100%;
	}

	&--radio:checked + span::after {
		border-radius: 100%;
	}
}

.c-form-field {
	position: relative;
	display: inline-block;

	> input:not([type="checkbox"]),
	> textarea {
		@extend .c-input
	}

	> textarea {
		width: 100%;
		resize: vertical;
	}

	&__label {
		position: absolute;
		top: -0.75rem;
		left: 0.75rem;
		color: var(--color-decoration);
		background: linear-gradient(to bottom, transparent 35%, var(--color-background) 35%, var(--color-background) 70%, transparent 70%);
		padding: 0 0.25rem;

		font-weight: 600;
	}

	&__error {
		font-style: italic;
		color: var(--color-danger);
	}

	&--wide {
		display: block;

		> input:not([type="checkbox"]):not([type="radio"]) {
			width: 100%;
		}
	}

	&--invalid {
		--color-border: var(--color-danger);
	}
}
