
$primary: #0663bb !default;
$primary-light: #72baff !default;

$secondary: #07746a !default;
$secondary-light: #49d1c4 !default;

$black:    black !default;
$white:    white !default;

$gray-0:   #E8ECF2 !default;
$gray-10:  #CCD1DB !default;
$gray-20:  #B2B8C2 !default;
$gray-30:  #9CA1AC !default;
$gray-40:  #7C8699 !default;
$gray-50:  #626B7C !default;
$gray-60:  #525C6F !default;
$gray-70:  #404A5E !default;
$gray-80:  #323C4F !default;
$gray-90:  #252E40 !default;
$gray-100: #141B28 !default;

$success: rgb(20, 107, 59);
$danger: rgb(124, 41, 20);

:root {
	--color-text: #{ $gray-50 };
	--color-heading: #{ $gray-70 };
	--color-control: #{ $white };
	--color-border: #{ $gray-80 };
	--color-background: #{ $white };
	--color-decoration: #{ $primary };

	--color-success: #{ $success };
	--color-danger: #{ $danger };
}

@media( prefers-color-scheme: dark ) {
	:root {
		--color-text: #{ $white };
		--color-heading: #{ $white };
		--color-control: #{ $gray-80 };
		--color-border: #{ $gray-20 };
		--color-background: #{ $gray-80 };
		--color-decoration: #{ $primary-light };
	}
}
