
@use '../../node_modules/hsluv-sass/src/hsluv' as hsluv;
@use '../mixins/media';


// Configuration for the color generation system, used as inputs to the HSLuv colorspace functions

$base-saturation:   100% !default;
$base-luminance:    43% !default;
$lighter-luminance: 82% !default;

// Hues for the brand and semantic colors

$primary-hue:     260 !default; 
$secondary-hue:   270 !default; 
$success-hue:     160 !default; 
$danger-hue:      355 !default;

// Color generation. These can also be overridden, to precisely specify base colors

$primary:         hsluv.hsluv($primary-hue, $base-saturation, $base-luminance) !default;
$primary-light:   hsluv.hsluv($primary-hue, $base-saturation, $lighter-luminance) !default;

$secondary:       hsluv.hsluv($secondary-hue, $base-saturation, $base-luminance) !default;
$secondary-light: hsluv.hsluv($secondary-hue, $base-saturation, $lighter-luminance) !default;

$success:         hsluv.hsluv($success-hue, $base-saturation, $base-luminance) !default;
$success-light:   hsluv.hsluv($success-hue, $base-saturation, $lighter-luminance) !default;

$danger:          hsluv.hsluv($danger-hue, $base-saturation, $base-luminance) !default;
$danger-light:    hsluv.hsluv($danger-hue, $base-saturation, $lighter-luminance) !default;

// Grays. These are hand-picked, as algorithmic approaches didn't give satisfactory results

$black:    black !default;
$white:    white !default;

$gray-0:   #E8ECF2 !default;
$gray-10:  #CCD1DB !default;
$gray-20:  #B2B8C2 !default;
$gray-30:  #9CA1AC !default;
$gray-40:  #7C8699 !default;
$gray-50:  #626B7C !default;
$gray-60:  #525C6F !default;
$gray-70:  #404A5E !default;
$gray-80:  #323C4F !default;
$gray-90:  #252E40 !default;
$gray-100: #141B28 !default;


// Setup of root-level CSS variables, used to style the majority of content on the site

:root {
	--color-text: #{ $gray-50 };
	--color-heading: #{ $gray-70 };
	--color-border: #{ $gray-80 };
	--color-background: #{ $white };
	--color-decoration: #{ $primary };

	--color-success: #{ $success };
	--color-danger: #{ $danger };

	// Dark-mode variant theme
	@include media.dark-mode {
		--color-text: #{ $white };
		--color-heading: #{ $white };
		--color-border: #{ $gray-20 };
		--color-background: #{ $gray-80 };
		--color-decoration: #{ $primary-light };

		--color-success: #{ $success-light };
		--color-danger: #{ $danger-light };
	}
}
